@media screen  and (max-width:1540px){
    .main{
        width: 95vw;       
        
    }

}

@media screen  and (max-width:1160px){
    .characters{

        grid-template-columns: 1fr 1fr 1fr;

    
    }

}

@media screen  and (max-width:880px){
    .characters{

        grid-template-columns: 1fr 1fr;
    
    }

}

@media screen  and (max-width:600px){
    .characters{

        grid-template-columns: 1fr;
    
    }

}