body{
    margin: 0;
    padding: 0;
}
.wrapper{
    background-color: #cccccc;

}

.header{
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;    
    background-color: #999999;
    

}
.header__title{
    font-size: 32px;
    font-weight: bold;

}


.main{
    width: 70vw;
    margin: auto;        

}

.characters{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    justify-items:center;    
    padding: 20px;

}

.characters-item{    
    background-color: #ffffff;
    width: 250px;    
    height: 270px;
    text-align: center;
    border-radius: 10px;  
    box-shadow: 0 0 7px #2e2e2e;
    margin: 50px 0;
    cursor: pointer;
    


}

.characters-item__img{
    position: relative;
    height: 200px;

    img{
        position: absolute;
        top: -30px;
        left: 25px;
        width: 200px;
        border-radius: 7px;
        box-shadow: 0 0 7px #2e2e2e;
    }

}

.characters-item__title{    
    font-size: 24px;
    font-weight: bold;
    

}

.show-more-container{
    padding: 20px;
    text-align: center;
    border-top: 1px solid #2e2e2e;
}

.button-show-more{
    background: #696969;
    color: #ffffff;
    border: 1px solid #696969;
    border-radius: 7px;
    padding: 10px 15px;
    box-shadow: 0 0 7px #2e2e2e;
    transition: 0.4s;
    cursor: pointer;


    &:hover{
        background: #424242;        
    }   

}


.modal-window-block{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(190, 190, 190, 0.7);  

}

.modal-window{    
    position: relative;
    display: flex;
    background: #ffffff;    
    width: 700px;
    height: 300px;
    margin: 250px auto;
    border-radius: 15px;
    box-shadow: 0 0 7px #202020;

}

.modal-window__img{
    img{
        border-radius: 15px 0 0 15px;
    }
}

.modal-window__info{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    // border: 1px solid red;
    padding: 40px;
}

.info-item{
    // border: 1px solid red;
}

.info-item__title{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 5px;

}

.info-item__subtitle{
    font-size: 16px;
}

.button-close{
    position: absolute;
    top: 0;
    right: 4px;
    font-size: 25px;
    font-weight: bold;
    background: none;
    border: none;
    transition: 0.4s;
    cursor: pointer;

    &:hover{
        color: #000000;
        text-shadow: 0 0 3px #616161;
    }
    

}


.pagination{
    display: flex;
    justify-content: center;
    padding: 20px;
    border-top: 1px solid #2e2e2e;

}

%pagination__button-style{
    background: #696969;
    color: #ffffff;
    border: 1px solid #696969;    
    padding: 7px 15px;
    box-shadow: 0 0 7px #2e2e2e;
    transition: 0.4s;
    cursor: pointer;

    &:hover{
        background: #424242;        
    }   


}

.pagination__button-prev{
    @extend %pagination__button-style;
    border-radius: 15px 0 0 15px;
}

.pagination__button-next{
    @extend %pagination__button-style;
    border-radius: 0 15px 15px 0;
}

.pagination__current-page{
    display: flex;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    padding: 0 20px;
    background: #9c9c9c;
}

.inactive-button{
    opacity: 0.5;
    pointer-events: none;
}


.navbar{
    border-bottom: 1px solid #000000;

}

.toggle{
    display: flex;
    align-items: center;
    padding: 20px;

}

.toggle__title{
    font-size: 18px;
    font-weight: bold;
    margin-right: 10px;

}

.toggle__label{
    display: block;
    position: relative;
    width: 75px;
    height: 35px;
    background: #9c9c9c;
    border-radius: 20px;    
    cursor: pointer;
    transition: 0.3s;  
    box-shadow: 0 0 7px #2e2e2e;

    
    &::after{
        content: "";
        width: 25px;
        height: 25px;
        background: #dddddd;
        border-radius: 50%;
        position: absolute;
        top: 5px;
        left: 7px;
        transition: 0.3s;
    }

}

.toggle-active{
    background: #ff5e00;
    box-shadow: 0 0 7px #ffffff;
    &::after{
        background: #ffffff;
        left: 43px;
    }
}

.hidden{
    display: none;
}


.footer{
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;    
    background-color: #999999;
}

.footer__title{
    font-size: 20px;
    font-weight: bold;
}