@media screen  and (max-width:1540px){
    .main{
        width: 95vw;       
        
    }

}

@media screen  and (max-width:1160px){
    .characters{

        grid-template-columns: 1fr 1fr 1fr;

    
    }

}

@media screen  and (max-width:880px){
    .characters{

        grid-template-columns: 1fr 1fr;
    
    }
    .modal-window{
        flex-direction: column;
        width: 300px;
        height: inherit;
        margin: 150px auto;
    }

    .modal-window__img{
        img{
            border-radius: 15px 15px 0 0 ;
        }
    }
    .button-close{
        color: #ffffff;
        text-shadow: 0 0 5px #000000;
    }

}

@media screen  and (max-width:600px){
    .characters{

        grid-template-columns: 1fr;
    
    }

}